button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
}
.comment{
  margin-top: 20px;
  border-bottom: solid 1px #eee;
}
.commentHeader,.commentContent, .commentFooter{
  position: relative;
  overflow: hidden;
}
.commentContent, .commentFooter{
  padding-left: 50px;
}
.commentHeader .commentAuthor{
  font-size: 1.2em;
  color: #666;
}
.commentHeader .commentAuthor .author{
  line-height: 40px;
}
.commentHeader .commentAuthor .avatar{
  display: block;
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
}
.commentHeader .avatar>img{
  width: 100%;
  border-radius: 50%;
}
.commentHeader .likeBtn{
  position: absolute;
  top: 5px;
  right: 0;
  cursor: pointer;
}
.commentHeader .likeBtn span{
  display: inline-block;
  color:#aaa;
  float: left;
}
.commentHeader .likeBtn.liked span{
  color: #faad4c;
}
.commentHeader .likeBtn .likeCount{
  height: 32px;
  line-height: 45px;
}
.commentHeader .likeBtn .icon-like{
  width:32px;
  height: 32px;
  margin-left: 6px;
  background-image: url('../img/like.png');
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center center;
}
.commentHeader .likeBtn.liked .icon-like{
  background-image: url('../img/liked.png');
}


.commentFooter span{
  display: inline-block;
  font-size: 12px;
}
.commentFooter .time{
  float: left;
  color:#aaa;
}
.commentFooter .reply{
  float: right;
  color: #faad4c;
}

.commentFormHolder{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
}
.commentForm .content-textarea{
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  padding: 4px 10px;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  border: none;
}
.commentForm .submit{
  font-size: 1.1em;
  width: 60%;
  color: #fff;
  background-color: #39C784;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 0 20%;
}
.commentBar{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  border-top: solid 1px #ccc;
  background-color: #fff;
}
.commentBar .BtnOpenForm{
  font-size: 1.1em;
  width: 60%;
  color: #fff;
  background-color: #faad4c;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 0 20%;
}
