.commentHeader .likeBtn {
  position: absolute;
  top: 0px;
  right: 0;
  cursor: pointer;
}

.commentHeader .likeBtn span {
  display: inline-block;
  color: #aaa;
  float: left;
}

.commentHeader .likeBtn.liked span {
  color: #faad4c;
}

.commentHeader .likeBtn .likeCount {
  height: 30px;
  line-height: 37px;
}

.commentHeader .likeBtn .icon-like {
  width: 30px;
  height: 30px;
  margin-left: 6px;
  background-image: url('./like.png');
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center center;
}

.commentHeader .likeBtn.liked .icon-like {
  background-image: url('./liked.png');
}
